<!DOCTYPE html>
<html>
  <head>
    <title>Tajniacy Online</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', defer: true %>
    <%= javascript_pack_tag 'application', defer: true %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= yield :head %>
  </head>

  <body>
    <%= render 'layouts/header' unless devise_controller? %>
    <%= yield %>
  </body>
</html>
